.navbar {
    /* border: 1px solid; */
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper {
    display: flex;
    width: 148px;
    height: 36.24px;
}

.logo-wrapper img {
    margin-top: 4.5%;
    width: 35px;
    height: 36.24px;
}

.logo-wrapper p {
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.logo-wrapper p span {
    font-weight: 700;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    display: flex;
    /* justify-content: space-between; */
    margin-left: 15px;
}

ul li a {
    text-decoration: none;
    color: black;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.sign {
    display: flex;
}

.sign,
a {
    text-decoration: none;
    color: black;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.sign,
button {
    width: 150px;
    height: 45px;
    top: 46px;
    left: 1154px;
    border-radius: 50px;
    border: 1px solid #F53855;
}

.sign,
button a {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #F53855;
}

/* Next part : main view */

.main-view {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid; */
}

/* Leftpart view */
.left-view {
    width: 50%;
    height: 382.44px;
}

.left-view .first {
    margin-bottom: 0;
    font-family: Rubik;
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
}

.left-view .first span {
    font-weight: 700;
}

.left-view .second {
    margin-top: 5%;
    font-family: Rubik;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.left-view .second span {
    font-weight: 500;
}

.get-started {
    border: 1px solid;
    width: 50%;
    height: 15%;
    border-radius: 10px;
}

.get-started button {
    width: 100%;
    height: 75%;
    border-radius: 10px;
    background-color: #F53855;
}

.get-started button a {
    font-family: Rubik;
    font-size: 1rem;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

/* right-part view */

.right-view {
    width: 50%;
    /* height: 382.44px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-view img {
    width: 100%;
    /* height: 100%; */
}

/* just below main-view | number bar */
.num-bar {
    /* border: 1px solid ; */
    width: 85%;
    margin: auto;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.num-bar .num {
    /* border: 1px solid; */
    width: 10%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}

.num-bar .logo {
    width: 24px;
    height: 24px;
    align-self: center;
}

.num-bar p {
    width: 50%;
    height: 100%;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px; 
    letter-spacing: 0em;
    text-align: left;

}

.num-bar span {
    font-weight: 700;
    font-size: 25px;
}

.num-bar .thin-bar {
    border: 2px solid rgb(236, 236, 236);
    height: 125px;
}

/* Feature sections iamge and so on ... */

.feature_sect {
    /* border: 1px solid; */
    height: 414.71px;
    display: flex;
    margin-top: 10%;
}

.feature_sect .feature_img {
    box-sizing: border-box;
    /* border: 1px solid; */
    width: 50%;
    height: 100%;
}

.feature_img img {
    width: 90%;
    height: 100%;
}


.feature_sect .features {
    width: 45%;
}

.feature_sect .features .p1 {
    margin-top: 18%;
    margin-bottom: 0;
    font-family: Rubik;
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
}

.feature_sect .features .p2 {
    margin-top: 1%;
    font-family: Rubik;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 3%;
}


.features .feature_points {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 0;
}

.features .feature_points img {
    height: 24px;
    width: 24px;
}

.features .feature_points p {
    margin-left: 1%;
    margin-top: -3px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}

.features .feature_points .bulleting {
    display: flex;
}